{% extends "blog/base.html" %}
{% load wagtailimages_tags wagtailcore_tags blogapp_tags %}
{% block content %}




   <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Blog</h2>
            <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="{{ self.get_parent.url }}">Home</a></li>
          <li>Blog</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
            {% for post in posts %}
            <article class="entry">

              <div class="entry-img">
                {% image post.header_image fill-750x300 as header_image %}
                <img src="{{ header_image.url }}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% pageurl post %}">{{ post.title }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">{{ post.owner }}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{ post.date| date:"M d Y" }}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {% if post.excerpt %}
                  {{ post.excerpt|markdown|safe }}
              {% else %}
                  {{ post.body|safe|truncatewords_html:50 }}
              {% endif %}
                </p>
                <div class="read-more">
                  <a href="{% pageurl post %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
            {% endfor %}
            <article class="entry">

              <div class="entry-img">
                <img src="http://127.0.0.1:8000/media/lakeheadLogo.png" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">Nisi magni odit consequatur autem nulla dolorem</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  Incidunt voluptate sit temporibus aperiam. Quia vitae aut sint ullam quis illum voluptatum et. Quo libero rerum voluptatem pariatur nam.
                  Ad impedit qui officiis est in non aliquid veniam laborum. Id ipsum qui aut. Sit aliquam et quia molestias laboriosam. Tempora nam odit omnis eum corrupti qui aliquid excepturi molestiae. Facilis et sint quos sed voluptas. Maxime sed tempore enim omnis non alias odio quos distinctio.
                </p>
                <div class="read-more">
                  <a href="blog-single.html">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->


            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Categories</h3>

              {% if categories %}
              <h3>Categories</h3>
              <ul>
                  {% for category in categories %}
                      <li style="display: inline">
                          {{ category.name }}
                      </li>
                  {% endfor %}
              </ul>
          {% endif %}



              <div class="sidebar-item categories">
                <ul>
                  {% if categories.count %}

                  {% for cat in categories %}
                      {# Loop through all the existing cats #}
                      <li><a href="?tag={{ cat.slug }}">{{ cat }} <span>({{cat.count}})</span></a></li>
                  {% endfor %}
              {% endif %}
                  <li><a href="#">General <span>(25)</span></a></li>
                  <li><a href="#">Lifestyle <span>(12)</span></a></li>
                  <li><a href="#">Travel <span>(5)</span></a></li>
                  <li><a href="#">Design <span>(22)</span></a></li>
                  <li><a href="#">Creative <span>(8)</span></a></li>
                  <li><a href="#">Educaion <span>(14)</span></a></li>
                </ul>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-1.jpg" alt="">
                  <h4><a href="blog-single.html">Nihil blanditiis at in nihil autem</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-2.jpg" alt="">
                  <h4><a href="blog-single.html">Quidem autem et impedit</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-3.jpg" alt="">
                  <h4><a href="blog-single.html">Id quia et et ut maxime similique occaecati ut</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-4.jpg" alt="">
                  <h4><a href="blog-single.html">Laborum corporis quo dara net para</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/blog/blog-recent-5.jpg" alt="">
                  <h4><a href="blog-single.html">Et dolores corrupti quae illo quod dolor</a></h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>

              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  {% if tags.count %}

                  {% for tag in tags %}
                      {# Loop through all the existing cats #}
                      <li><a href="?tag={{ tag.slug }}">{{ tag }} <span>({{tag.count}})</span></a></li>
                  {% endfor %}
              {% endif %}
                  <li><a href="#">App</a></li>
                  <li><a href="#">IT</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Mac</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Office</a></li>
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Studio</a></li>
                  <li><a href="#">Smart</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
 <!-- Page Content -->
 <div class="container">
  <div class="row">
<!-- Blog Entries Column -->
<div class="col-md-8">
          <h1 class="my-4">Tech Blogs</h1>
          {% if search_term %}
              <header class="page-header">
                  <h1 class="page-title">Search Results for <span>{{ search_type }}: {{ search_term }}</span></h1>
              </header>
          {% endif %}
<!-- Blog Post -->
{% for post in posts %}
              <div class="card mb-4">
                  {% image post.header_image fill-750x300 as header_image %}
                  <img class="card-img-top" src="{{ header_image.url }}" alt="Card image cap">
                  <div class="card-body">
                      <h2 class="card-title">{{ post.title }}</h2>
                      <p class="card-text">
                          {% if post.excerpt %}
                              {{ post.excerpt|markdown|safe }}
                          {% else %}
                              {{ post.body|safe|truncatewords_html:50 }}
                          {% endif %}
                      </p>
                      <a href="{{ post.url }}" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                  <div class="card-footer text-muted">
                      Posted on {{ post.date| date:"M d Y" }} by
                      <a>{{ post.owner }}</a>
                  </div>
              </div>
          {% endfor %}
<!-- Pagination -->
</div>
<!-- Sidebar Widgets Column -->
<div class="col-md-4">
<!-- Search Widget -->
{% if search_term %}
<div class="card my-4">

              <h5 class="card-header">Search</h5>
              <div class="card-body">
                  <form action="/blog/search" method="get">
                      <div class="input-group">
                          <input type="text" class="form-control" name="q" placeholder="Search for...">
                          <span class="input-group-btn">
                          <button class="btn btn-secondary" type="button">{{ search_type }}: {{ search_term }}</button>
                        </span>
                      </div>
                  </form>
              </div>
          </div>
          {% endif %}
      </div>
  </div>
<!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}